<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Title</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
  <div class="wrapper">
    <header>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Water Ways</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select category
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="http://localhost:3001/product-list/1">Boats</a>
                <a class="dropdown-item" href="http://localhost:3001/product-list/1">JetSki</a>
              </div>
            </div>
          </ul>

           <!--Login Pop Up Modal Button-->
          <button class="btn btn-outline-success my-2 my-sm-0" id="login">login</button>

          <!--Login Modal Added with Bootstrap CSS-->
          <div class="modal" id="loginModal" tabindex="-1">
            <div class="modal-dialog">
             <div class="modal-content">
               <div class="modal-header">
                 <h3>Login</h3>
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
               </div>
               <div class="modal-body">
                 <!--LOGIN FORM-->
                 <form class="loginForm">
                    <label for="email-login">Email: </label>
                      <input type="text" id="email-login">
                      <br>
                      <label for="password-login">Password: </label>
                      <input type="password" id="password-login">
                       <br>
                      <button type='submit' class='btn btn-primary'>Login</button>
                      <button class="btn btn-primary" id="createAcc">Create Account</button>
                 </form>
               </div>
            </div>
            </div>
          </div>
          <!--LOGIN MODAL END-->
       
          <!--Login Modal End-->
          <button class="btn btn-outline-success my-2 my-sm-0" id="logout">logout</button>

        </div>
      </nav>

    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!--how can we put scripts in a separate folder?-->
  <script>
      //LOGOUT FORM HANDLER START
    async function logout() {
        const response = await fetch('/api/users/logout', {
          method: 'post',
          headers: { 'Content-Type': 'application/json' }
        });
  
        if (response.ok) {
          document.location.replace('/');
  
        } else {
          alert(response.statusText);
        }
      }
  
      document.querySelector('#logout').addEventListener('click', logout);
      //LOGOUT FORM HANDLER END

    //JS FOR LOGIN MODAL
   var modal = document.getElementById("loginModal");
   var newModal = document.getElementById("newModal");
   var loginBtn = document.getElementById("login");
   var logoutBtn = document.getElementById("logout");

   var span = document.getElementsByClassName("close")[0];

   loginBtn.onclick = function() {
     modal.style.display = "block";}
  

     span.onclick = function() {
    modal.style.display = "none";
    }
    //CREATE ACCOUNT 
    var createAccBtn = document.getElementById('createAcc');
    createAccBtn.onclick = function()
    {
      location.href='/login';
    }
  
    //LOGIN FORM HANDLER START 
     async function loginFormHandler(event) 
  {

    event.preventDefault();

    const email = document.querySelector('#email-login').value.trim();
    const password = document.querySelector('#password-login').value.trim();

    if(email && password)
    {
      const response = await fetch('/api/users/login', {
        method: 'post',
        body: JSON.stringify({
          email,
          password
        }),
        headers: {'Content-Type': 'application/json'}
      })
      if(response.ok){
        document.location.replace('/')

      }
      else
      {
        alert(response.statusText);
      }
    }
  }

  document.querySelector('.loginForm').addEventListener('submit', loginFormHandler)
    //LOGIN FORM HANDLER END
      </script>
</body>

</html>