<nav class="h20 flex justify-center">
  <h1 class="text-white text-5xl">Cancelled</h1>
</nav>
<div class="flex flex-col items-center mt-32 text-white text-2xl">
  <p>Transaction has been cancelled.</p>
  <a href="/"><button class="bg-blue-700 rounded p-4 mt-3">Return</button></a>
</div>