<div class="jumbotron bgimage">
  <h1 class="display-4 text-light">Find The Right Boat</h1>
  <p class="text-light lead">Select from multiple categories to discover the perfect boat for your next adventure</p>
  <hr class="my-4">
  <h2 class="text-light">Rent Your Boat</h2>
  <p class="text-light">Have a boat that's not being used? Let us connect you with a short-term renter.</p>
  <p class="text-light">
    <a class=" btn btn-outline-light btn-lg" href="#learn-more" role="button">Learn more</a>
  </p>
</div>

<div>
  <h2 class="display-4 text-center">Select a Category</h2>
  <hr class="my-4">
</div>

<!--Login Modal PopUp-->
        <div class="modal fade loginModal" tabindex="-1">

          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header container">
                  <div class="col"><h3>Login</h3></div>
                  <div class="col"><h3>Sign Up</h3></div>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <!--LOGIN FORM-->
                <div class="container">
                  <div class="row">
                  <div class="col">
                  <form class="loginForm">
                    <label for="email-login">Email: </label>
                    <input type="text" id="email-login">
                    <br>
                    <label for="password-login">Password: </label>
                    <input type="password" id="password-login">
                    <br>
                    <button type='click' class='btn btn-primary' onclick="loginFormHandler(event)">Login</button>
                  </form>
                  </div>
                  <!--Sign Up Form-->
                  <div class="col">
                    <form class="signupForm">
                    <label for="first_name">First Name: </label>
                    <input type="text" id="first_name">
                    <br>
                    <label for="last_name">Last Name: </label>
                    <input type="text" id="last_name">
                    <br>
                    <label for="email-signup">Email: </label>
                    <input type="text" id="email-signup">
                    <br>
                    <label for="password-signup">Password: </label>
                    <input type="password" id="password-signup">
                    <br>
                    <button class="btn btn-primary" type='button' onclick="signupFormHandler(event)">Create Account</button>
                    </form>
                  </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
        </div>
<!--Login Modal End-->
<!--Logout Modal PopUp-->
<div class="modal" id="logoutValModal" tabindex="-1">

          <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                   <button type="button" class="close" id="logoutClose">&times;</button>
                </div>
                <div class="modal-body">
                  <!--LOGIN FORM-->
                  <p>You are not logged in.</p>
                </div>
              </div>
            </div>
        </div>
<!--Logout Modal PopUp End-->



{{!-- Category Cards --}}
<div class="container">
  <div class="row mb-2">
    {{!-- Yacht Card --}}
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-header">
          Yachts
        </div>
        <div class="card img-fluid">
          <img class="card-img-top"
            src="http://www.heesenyachts.com/wp-content/uploads/2021/01/19650-Aura-ext-600x340.jpg" alt="Card image"
            style="width:100%">
          <div class="card-img-overlay">
            {{!-- <h5 class="card-title">Special title treatment</h5> --}}
            {{!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> --}}
          </div>
        </div>
        <div class="card-footer text-muted">
          {{!-- 2 days ago --}}
        </div>
        <a href="/product-list/yacht" class="stretched-link"></a>
      </div>
    </div>
    {{!-- Skiboat Card --}}
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-header">
          Ski Boats
        </div>
        <div class="card img-fluid">
          <img class="card-img-top"
            src="https://www.boatingmag.com/resizer/SSeYjh7z3tlWctTfTPOomU5m8ac=/600x340/smart/arc-anglerfish-arc2-prod-bonnier.s3.amazonaws.com/public/4LSTSCMNEVAFNDV2OVDTF6PQ5E.jpg"
            alt="Card image" style="width:100%">
          <div class="card-img-overlay">
            {{!-- <h5 class="card-title">Special title treatment</h5> --}}
            {{!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> --}}
          </div>
        </div>
        <div class="card-footer text-muted">
          {{!-- 2 days ago --}}
        </div>
        <a href="/product-list/ski boat" class="stretched-link"></a>
      </div>
    </div>
    {{!-- Fishing Boat Card --}}
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-header">
          Fishing Boats
        </div>
        <div class="card img-fluid">
          <img class="card-img-top" src="https://i.pinimg.com/originals/5a/27/88/5a2788d721dbba78fd477a99e144a4e2.jpg"
            alt="Card image" style="width:100%">
          <div class="card-img-overlay">
            {{!-- <h5 class="card-title">Special title treatment</h5> --}}
            {{!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> --}}
          </div>
        </div>
        <div class="card-footer text-muted">
          {{!-- 2 days ago --}}
        </div>
        <a href="/product-list/fishing boat" class="stretched-link"></a>
      </div>
    </div>
    {{!-- Personal Watercraft Card --}}
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-header">
          Personal Watercraft
        </div>
        <div class="card img-fluid">
          <img class="card-img-top"
            src="https://www.kontikibeachresort.nl/inc/upload/photos/3976/mobile-retina/cs_JEtski-LEft-1.jpg"
            alt="Card image" style="width:100%">
          <div class="card-img-overlay">
            {{!-- <h5 class="card-title">Special title treatment</h5> --}}
            {{!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> --}}
          </div>
        </div>
        <div class="card-footer text-muted">
          {{!-- 2 days ago --}}
        </div>
        <a href="/product-list/personal watercraft" class="stretched-link"></a>
      </div>
    </div>
  </div>
</div>

<div>
  <h2 class="display-4 text-center mt-4">How It Works</h2>
  <hr class="my-4">
</div>

<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col-8 mx-auto">
      <div class="card h-100 justify-content-center bg-dark text-light p-3 mb-4" id="learn-more">
        <div>
          <h3 class="green">Overview</h3>
          <p>Water Ways is an online marketplace that connects people who want to rent out thier boats or pesonal
            watercraft with people hwo are looking for the perfect boat for their next adventure.
          </p>
          <h3 class="green">Owners</h3>
          <p>
            For owners, partnering with Water Ways is a way to earn an income from property that they already have and
            may be laying about, unused.
          <p><a href="/profile" id="howto">List your boat</a></p>

          </p>
          <p>
          <h3 class="green">Renters</h3>
          For those who enjoy spending time on the water, but and are looking for options that don't include a large
          investment. With a large
          selection of watercraft in multiple categories, Water Ways provides a low-cost option for you to find the
          perfect boat for your next adventure.

          </p>
        </div>
      </div>
    </div>
  </div>
</div>