<!--<ol>
  {{#each tests as |test|}}
  <li>
    <article>
      <div class="title">
        <span>({{test.title}})</span>
      </div>
    </article>
  </li>
  {{/each}}
</ol>-->

<!--Commenting our test to test Sequelize ORM
This can be removed if need, not necessary for application
this is a copy of what is above-->
<h3>Rental Items</h3>
<ol>
  {{#each rentItems as |rentItem|}}

  <li>
    <article>
      <div class="rentItems">
        <span>{{ name }} points: {{ pointval }} user: {{user.email}} </span>

      </div>
    </article>
  </li>
  {{/each}}
</ol>