
<h3>Rental Items</h3>
<ol>
  {{#each rentItems as |rentItem|}}

  <li>
    <article>
      <div class="rentItems">
        <span>{{ name }} points: {{ pointval }} user: {{user.email}} </span>

      </div>
    </article>
  </li>
  {{/each}}
</ol>