<!--SIGNUP FORM START-->
<div>
  <h3>SIGNUP</h3>
  <form class="signupForm">
    <label for="first_name">First Name: </label>
    <input type="text" id="first_name">
    <br>
    <label for="last_name">Last Name: </label>
    <input type="text" id="last_name">
    <br>
    <label for="email-signup">Email: </label>
    <input type="text" id="email-signup">
    <br>
    <label for="password-signup">Password: </label>
    <input type="password" id="password-signup">
    <br>
    <button type='submit'>Create Account</button>
  </form>
</div>
<!--SIGNUP FORM END-->
</div>