
<br><br><br>
<div class="forms">
  <!--LOGIN FORM START-->
    <div>
    <h3>LOGIN</h3>
    <form class="loginForm">
        <label for="email-login">Email: </label>
        <input type="text" id="email-login">
        <br>
        <label for="password-login">Password: </label>
        <input type="password" id="password-login">
        <br>
        <button type='submit'>Login</button>
    </form>
    </div>
    <br><br><br>
  <!--SIGNUP FORM START-->
  <div>
    <h3>SIGNUP</h3>
    <form class="signupForm">
        <label for="first_name">First Name: </label>
        <input type="text" id="first_name">
        <br>
        <label for="last_name">Last Name: </label>
        <input type="text" id="last_name">
        <br>
        <label for="email-signup">Email: </label>
        <input type="text" id="email-signup">
        <br>
        <label for="password-signup">Password: </label>
        <input type="password" id="password-signup">
        <br>
        <button type='submit'>Create Account</button>
    </form>
    </div>
     <!--SIGNUP FORM END-->
</div>

<!--scripts need to go in separate folder-->
<script>
  //SIGN UP SCRIPT START
  async function signupFormHandler(event) 
  {
    event.preventDefault();

    const first_name = document.querySelector('#first_name').value.trim();
    const last_name =document.querySelector('#last_name').value.trim();
    const email = document.querySelector('#email-signup').value.trim();
    const password = document.querySelector('#password-signup').value.trim();

    if(first_name && last_name && email && password)
    {
      const response = await fetch('/api/users', {
        method: 'post',
        body: JSON.stringify({
          first_name,
          last_name,
          email,
          password
        }),
        headers: {'Content-Type': 'application/json'}
      })
      if(response.ok){
        console.log('User account created')
      }
      else
      {
        console.log('User account not created :(')
      }
    }
  }

  document.querySelector('.signupForm').addEventListener('submit', signupFormHandler)
  //SIGNUP SCRIPT END
  //LOGIN SCRIPT START
  async function loginFormHandler(event) 
  {
    event.preventDefault();

    const email = document.querySelector('#email-login').value.trim();
    const password = document.querySelector('#password-login').value.trim();

    if(first_name && last_name && email && password)
    {
      const response = await fetch('/api/users/login', {
        method: 'post',
        body: JSON.stringify({
          email,
          password
        }),
        headers: {'Content-Type': 'application/json'}
      })
      if(response.ok){
        console.log('User successfully logged in')
      }
      else
      {
        console.log('Login ERROR')
      }
    }
  }

  document.querySelector('.loginForm').addEventListener('submit', loginFormHandler)
</script>