<div class="container">

  <h3>Product Detail</h3>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <img class="card-img-right flex-auto d-none d-md-block" alt="alt text" style="width: 200px; height: 200px;"
            src="{{itemDetails.img_url}}">

          <strong class="d-inline-block mb-2 text-primary">{{category_id}}</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">{{name}}</a>
          </h3>
          <div class="mb-1 text-muted">Subtitle</div>
          <p class="card-text mb-auto">
            {{description}}
          </p>
          <a href="#">Call to Action</a>
        </div>

      </div>
    </div>
  </div>
</div>