<div class="container">
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>{{User.email}}</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Add New Product</h2>
            <form>
                <div class="form-group">
                    <label for="Inventory">Category</label>
                    <select class="form-control" id="Inventory">
                        <option value="1">Yacht</option>
                        <option value="2">JetSki</option>
                    </select>
</div>
                    <div class="form-group">
                        <label for="name">Full Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Boat">
                    </div>
                    <div class="form-group">
                        <label for="Points">Points</label>
                        <input type="number" class="form-control" id="Points" placeholder="500">
                    </div>
                    <div class="form-group">
                        <label for="image">Image</label>
                        <input type="text" class="form-control" id="image"
                            placeholder="https://psmfirestorm.blob.core.windows.net/crs-images/302861/21069/original.jpg'">
                    </div>
                    <div class="form-group">
                        <label for="Desc">Product Description</label>
                        <textarea class="form-control" id="Desc" rows="3"></textarea>
                    </div>

                    <button type="submit">Submit</button>
            </form>
        </div>
    </div>

</div>