<div class="container">
  <div class="row ">
    <div class="col-md-3">
      <div class=" text-center p-3">
        <div class="flex ">
          <h1 class="h1">Success</h1>
        </div>
        <div class="flex flex-col">
          <p>Thank you for your business.</p>
          <p>Your payment has been received.</p>
          <a href="/"><button class="btn btn-outline-secondary">Return Home</button></a>
        </div>
      </div>
    </div>
  </div>
</div>